@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter-V';
    src: url('./src/assets/Inter-V.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}